params {
	vcfs = "/lustre03/project/6050814/shared/exomeplus_pilot/HG002_NA24385_Son_WGS_IDT_10/HG002_NA24385_Son_WGS_IDT_10.hc.vcf.gz"
	window_size = 25000000
	vep_cache = "/lustre03/project/6050814/dtaliun/VEP/vep_cache"
	vep_flags = "--sift b --polyphen b --ccds --uniprot --hgvs --symbol --numbers --domains --regulatory --canonical --protein --biotype --af --af_1kg --af_esp --af_gnomad --pubmed --shift_hgvs 0 --allele_number --buffer_size 10000"
	loftee_dir = "loftee"
	loftee_db_dir = "loftee_b38"
}

singularity {
	enabled = true
	autoMounts = true
}

process {
	container = "file:///lustre03/project/6050814/dtaliun/VEP/vep.sif"
        executor = "slurm"
        //executor = "local"
        cpus = 1
        time = "12h"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "annotation" }
        }
        $local {
                cpus = 1
        }
}
