params {
	vcfs = "/path/to/variants/*.vcf.gz"
	window_size = 25000000
	assembly = "GRCh37"
	//assembly = "GRCh38"
	vep_cache = "/path/to/cache/vep_cache"
	vep_flags = "--sift b --polyphen b --ccds --uniprot --hgvs --symbol --numbers --domains --regulatory --canonical --protein --biotype --af --af_1kg --af_esp --af_gnomad --pubmed --shift_hgvs 0 --allele_number --buffer_size 10000"
	// LoFtee flags loftee_path, gerp_bigwig, human_ancestor_fa, and conservation_file are set automatically.
	// If you need to modify other LoFtee flags, then fill-in the additional comma-separated options with a leading comma below.
	// e.g.loftee_flags = ",get_splice_features:1,max_scan_distance:15"
	loftee_flags = ""
	enable_summary = false
}

singularity {
	enabled = true
	autoMounts = true
}

process {
	withLabel: VEP {
		container = "file:///path/to/vep.sif" // Specify path to the VEP singularity image
	}
 	withLabel: SUMMARY {
 		container = "" // Must be always empty string
 	}
        executor = "slurm"
        //executor = "local"
	// uncomment the line below if you want to specify additional options e.g. account name
	//clusterOptions = "--account=XYZ"
	cpus = 1
        time = "12h"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "annotation" }
        }
        $local {
                cpus = 1
        }
}
